<%- layout("/layouts/boilerplate.ejs") -%>

<div class="container mt-5 mb-5">
    
  <div class="card listing-card " style="width:25rem;  margin: auto;">
    <h2><%= showlisting.title %></h2>
    <img src="<%= showlisting.image.url  %>" class="card-img-top" style="width: 50%; object-fit: contain" alt="<%= showlisting.title %>">

    <div class="card-body">
      <h5 class="card-title"><p class="card-text"> Owned By ~ <%= showlisting.owner.username %> </p></h5>
      <p class="card-text"><%= showlisting.description %></p>

      <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item">
        <strong>Price: </strong> ₹<%= (showlisting.price != null) ? Number(showlisting.price).toLocaleString("en-IN") : "N/A" %>

        </li>
        <li class="list-group-item">
          <strong>Location: </strong> <%= showlisting.location %>
        </li>
        <li class="list-group-item">
          <strong>Country: </strong> <%= showlisting.country %>
        </li>
      </ul>
      <% if(curUser && curUser._id.equals(showlisting.owner._id)){ %>
      <div class="d-flex justify-content-between">
        <a href="/listing/<%= showlisting._id %>/edit" class="btn btn-warning">Edit</a>
        <form action="/listing/<%= showlisting._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
     <% } %>
    </div>
  </div>
</div>

<div class="container col-10 offset-3 mb-3">
  <hr/>
 <% if(curUser){ %>
  <h4>Leave a Review</h4>
  <form action="/listing/<%= showlisting._id%>/review" method="post" novalidate class="needs-validation">
  <div class="mt-3 mb-3 " >
        <label for="rating">Rating</label>
<fieldset class="starability-slot">
  
  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
 </div>
    <div class="mt-3 mb-3 ">
      <label for="comment"> Comment</label><br>
      <textarea name="review[Comment]" rows="4" cols="20" id="comment" required class="form-control"></textarea>
      <div class="invalid-feedback">Please add some comments for reviews</div>
    </div>

    <div>
      <button class="btn btn-outline-dark">Submit</button>
    </div>
  </form>
    <hr>
  <% } %>

  <h2>All Reviews</h2>
 <div class="row ">
  <% for(let review of showlisting.reviews){ %>
    <div class="card col-5 ms-2 mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= review.author.username %></h5>
        <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
        <p class="card-text"><%= review.Comment %></p>
         <p class="card-text"> Stars</p>
  
  </p>
      </div>
      <form action="/listing/<%= showlisting._id %>/review/<%= review._id %>?_method=Delete" method="post" class="mb-3">
        <button class="btn btn-dark">Delete</button>
      </form>
    </div>
  <% } %>
 </div>
</div>
